services:
  freesleep-server:
    build:
      context: .
      dockerfile: FreeSleep.Dockerfile
    restart: unless-stopped
    container_name: freesleep-server
    ports:
        - "3000:3000/tcp"
    labels:
      autoheal-app: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/deviceStatus"]
      interval: 30s
      timeout: 10s
      retries: 1
      start_period: 2m
    volumes:
      - ./fs-persistent:/persistent
      - socket:/deviceinfo/
    command:
      - sh
      - -c
      - |
        set -e
        npm run migrate deploy
        npm run start

  freesleep-stream:
    restart: unless-stopped
    build:
      context: .
      dockerfile: FreeSleep.Dockerfile
    volumes:
      - ./fs-persistent:/persistent
    depends_on:
      - freesleep-server
    working_dir: /home/dac/free-sleep/biometrics
    network_mode: container:freesleep-server
    command: python3 stream/stream.py

  pod-server:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Pod2.Dockerfile
    ports:
      - "5683:5683/tcp"
      - "1337:1337/tcp"
    environment:
      - KEY_PATH=/keys/server.pem
      - LOG_SAVE_FILES=true
      - LOG_PATH=/persistent
    depends_on:
      - freesleep-server
    volumes:
      - socket:/deviceinfo/
      - ./fs-persistent:/persistent
      - ./server_private_key.pem:/keys/server.pem:ro

  autoheal:
    environment:
      AUTOHEAL_CONTAINER_LABEL: autoheal-app
    image: willfarrell/autoheal:latest
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  socket:
    driver: local
